.card-group {
    margin: 0 auto; 
    float: none;
    height: 100px;
    width: 300px;
}

.card {
    background-color: pink ;
}

.title {
    text-align: center;
}

.card-text {
    text-align: center;
    font-size: 50px;
}

#board {
    text-align:center;
    font-size: 50px;
}